## Multi-Index and Index Hierarchy

In [10]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [8]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2', ]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [14]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [15]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [16]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [18]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [19]:
df.index.names

FrozenList([None, None])

In [22]:
df.index.names = ['Group', 'Num']

In [23]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [24]:
df.index.names

FrozenList(['Group', 'Num'])

In [27]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

In [28]:
df.loc['G1'].loc[3]['B']

-0.31931804459303326

- Cross Sections

In [29]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [37]:
df.xs(key=1, level='Num')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965

In [38]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [40]:
df.xs(2, level='Num')

              A         B
Group
G1     0.907969  0.503826
G2    -2.018168  0.740122

Tens Work :)