## Pandas - Missing Data

In [4]:
import numpy as np
import pandas as pd

In [5]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Drop Missing Value

In [8]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

   - Removes Row if and onlyif NaN is equal or grater than thresh value

In [10]:
df.dropna(axis=1, how='all', thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [11]:
df.dropna(how='all', subset=['A','C'])

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Fill Missing Value

In [13]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [14]:
df.fillna(value="Fill Value")

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [16]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

Great Job!!