# Pandas

## 1. Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_list = [33, 34, 35]
arr = np.array(my_list)
d = {'a':33, 'b':34, 'c':35}

In [13]:
pd.Series(data=my_list)

0    33
1    34
2    35
dtype: int64

In [14]:
pd.Series(data=my_list, index=labels)

a    33
b    34
c    35
dtype: int64

In [15]:
pd.Series(index=labels)

/home/bijaythapa/Documents/GoGreen/ProjectOne/prjone/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

a   NaN
b   NaN
c   NaN
dtype: float64

In [16]:
pd.Series(my_list, labels)

a    33
b    34
c    35
dtype: int64

In [17]:
pd.Series(arr)

0    33
1    34
2    35
dtype: int64

In [18]:
pd.Series(arr, labels)

a    33
b    34
c    35
dtype: int64

In [19]:
pd.Series(d)

a    33
b    34
c    35
dtype: int64

In [20]:
labels=['a', 'b', 'c']

In [21]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [22]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser1 = pd.Series([1,2,3,4,5], ['USA', 'Germany', 'Nepal', 'China', 'Japan'])

In [25]:
ser1

USA        1
Germany    2
Nepal      3
China      4
Japan      5
dtype: int64

In [26]:
ser2 = pd.Series([1,2,3,5,4], ['USA', 'Germany', 'Nepal', 'Italy', 'Japan'])

In [27]:
ser2

USA        1
Germany    2
Nepal      3
Italy      5
Japan      4
dtype: int64

In [28]:
ser1['USA']

1

In [32]:
ser3 = pd.Series(data=labels)

In [33]:
ser3

0    a
1    b
2    c
dtype: object

In [34]:
ser3[1]

'b'

In [35]:
ser1

USA        1
Germany    2
Nepal      3
China      4
Japan      5
dtype: int64

In [36]:
ser2

USA        1
Germany    2
Nepal      3
Italy      5
Japan      4
dtype: int64

In [37]:
ser1+ser2

China      NaN
Germany    4.0
Italy      NaN
Japan      9.0
Nepal      6.0
USA        2.0
dtype: float64

Great !!